<!DOCTYPE html>
<html>
<head>
    <title><%=blocks.title%></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <script src="javascripts/app.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/knockout-3.3.0.js"></script>

</head>
<body>
<header>

    <%-blocks.header%>
</header>
<section class="container">

    <%-partial('topNavigation')%>

    <h1><%=blocks.title%></h1>

    <%-body -%>
</section>
<footer>
    <div class="center">Powered by <a href="http:\\zverit.com">Zverit</a></div>
    <%-blocks.footer%>
</footer>

</body>

</html>